<a href="https://colab.research.google.com/github/tekmologi8/CaseStudy2DDS/blob/main/Q3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving train_revised.csv to train_revised (1).csv

In [ ]:
df = pd.read_csv('train_revised.csv')
df

,ride_id,seat_number,payment_method,payment_receipt,travel_date,travel_time,travel_from,travel_to,car_type,max_capacity
0,1442,15A,Mpesa,UZUEHCBUSO,17-10-17,7:15,Migori,Nairobi,Bus,49
1,5437,14A,Mpesa,TIHLBUSGTE,19-11-17,7:12,Migori,Nairobi,Bus,49
2,5710,8B,Mpesa,EQX8Q5G19O,26-11-17,7:05,Keroka,Nairobi,Bus,49
3,5777,19A,Mpesa,SGP18CL0ME,27-11-17,7:10,Homa Bay,Nairobi,Bus,49
4,5778,11A,Mpesa,BM97HFRGL9,27-11-17,7:12,Migori,Nairobi,Bus,49
...,...,...,...,...,...,...,...,...,...,...
51640,13826,9B,Mpesa,8V2XDDZR6V,20-04-18,8:00,Awendo,Nairobi,Bus,49
51641,13809,18A,Mpesa,4PEBSVJSNK,20-04-18,8:00,Migori,Nairobi,Bus,49
51642,13809,17A,Mpesa,LVN64LZDNN,20-04-18,8:00,Migori,Nairobi,Bus,49
51643,13796,16B,Mpesa,REYBSKTYWN,20-04-18,7:08,Awendo,Nairobi,Bus,49
51644,14304,7,Mpesa,AQN7FBUSGP,14-11-17,5:10,Kisii,Nairobi,Bus,49

In [ ]:
#Using regex to filter out MK in payment_receipt
df = pd.DataFrame(['payment_recipt'])
r = re.compile(".*MK.*")
filtered_df = filter(r.match, df)
#newdf = df.filter(regex = ".*MK.*")
print(filtered_df)

<filter object at 0x7fee8b6bf2d0>

In [ ]:
#Example
#Consider the following DataFrame:

df = pd.DataFrame({"ABC":[1,2,3],"BCD":[4,5,6],"E":[7,8,9]}, index=["a","b","c"])
df

   ABC  BCD  E
a    1    4  7
b    2    5  8
c    3    6  9

In [ ]:
#To get columns where the label contains the character "C":

df.filter(regex=".*C.*")

   ABC  BCD
a    1    4
b    2    5
c    3    6

In [ ]:
#To get columns where the label contains the character "C":

newdf = df.filter(regex=".C.")

newdf

In [ ]:
#Example
#Consider the following DataFrame:

df = pd.DataFrame({"MARTIN":[1,2,3],"MUGA":[4,5,6],"NYANZA":[7,8,9]}, index=["a","b","c"])
df

   MARTIN  MUGA  NYANZA
a       1     4       7
b       2     5       8
c       3     6       9

In [ ]:

newdf = df.filter(regex=".*M.*")
newdf

   MARTIN  MUGA
a       1     4
b       2     5
c       3     6

In [ ]:
import pandas as pd
sheet_id ="175xctDWxFrhDEbJ7s8pzdbRifpDqtk5gwIzaAYd2yPg"
sheet_name = "train_revised"
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"

In [ ]:
from pandas.io.parsers.readers import read_csv
pd.read_csv(url)

,ride_id,seat_number,payment_method,payment_receipt,travel_date,travel_time,travel_from,travel_to,car_type,max_capacity
0,1442,15A,Mpesa,UZUEHCBUSO,17-10-17,07:15,Migori,Nairobi,Bus,49
1,5437,14A,Mpesa,TIHLBUSGTE,19-11-17,07:12,Migori,Nairobi,Bus,49
2,5710,8B,Mpesa,EQX8Q5G19O,26-11-17,07:05,Keroka,Nairobi,Bus,49
3,5777,19A,Mpesa,SGP18CL0ME,27-11-17,07:10,Homa Bay,Nairobi,Bus,49
4,5778,11A,Mpesa,BM97HFRGL9,27-11-17,07:12,Migori,Nairobi,Bus,49
...,...,...,...,...,...,...,...,...,...,...
51640,13826,9B,Mpesa,8V2XDDZR6V,20-04-18,08:00,Awendo,Nairobi,Bus,49
51641,13809,18A,Mpesa,4PEBSVJSNK,20-04-18,08:00,Migori,Nairobi,Bus,49
51642,13809,17A,Mpesa,LVN64LZDNN,20-04-18,08:00,Migori,Nairobi,Bus,49
51643,13796,16B,Mpesa,REYBSKTYWN,20-04-18,07:08,Awendo,Nairobi,Bus,49
51644,14304,7,Mpesa,AQN7FBUSGP,14-11-17,05:10,Kisii,Nairobi,Bus,49

In [ ]:
#Using regex to filter out MK in payment_receipt
df = pd.DataFrame([4])
newdf = df.filter(regex = "RE.*")  #.*MK.*
print(newdf)

Empty DataFrame
Columns: []
Index: [0]

In [ ]:
df = pd.DataFrame({'a': range(5),'b': ['cat', 'dog', 'mouse', 'house', 'tree']})

regex = "se$"

series = df["b"]

df1 = series.str.contains(regex)

print(df1)

0    False
1    False
2     True
3     True
4    False
Name: b, dtype: bool